---

AccessModifierOffset: '-4'

AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: 'true'
AlignConsecutiveDeclarations: 'false'
AlignConsecutiveMacros: 'false'
AlignEscapedNewlines: 'Left'
AlignOperands: 'true'
AlignTrailingComments: 'true'

AllowAllArgumentsOnNextLine: 'false'
AllowAllConstructorInitializersOnNextLine: 'false'
AllowAllParametersOfDeclarationOnNextLine: 'false'
AllowShortBlocksOnASingleLine: 'false'
AllowShortCaseLabelsOnASingleLine: 'true'
AllowShortFunctionsOnASingleLine: 'None'
AllowShortIfStatementsOnASingleLine: 'Never'
AllowShortLambdasOnASingleLine: 'All'
AllowShortLoopsOnASingleLine: 'false'

AlwaysBreakAfterReturnType: 'None'
AlwaysBreakBeforeMultilineStrings: 'true'
AlwaysBreakTemplateDeclarations: 'Yes'

BinPackArguments: 'false'
BinPackParameters: 'false'

BreakBeforeBraces: 'Custom'
BraceWrapping:
    AfterCaseLabel: 'false'
    AfterClass: 'true'
    AfterControlStatement: 'Never'
    AfterEnum: 'true'
    AfterFunction: 'true'
    AfterNamespace: 'true'
    AfterObjCDeclaration: 'true'
    AfterStruct: 'true'
    AfterUnion: 'true'
    AfterExternBlock: 'true'
    BeforeCatch: 'false'
    BeforeElse: 'false'
    IndentBraces: 'false'
    SplitEmptyFunction: 'false'
    SplitEmptyRecord: 'false'
    SplitEmptyNamespace: 'false'

BreakBeforeBinaryOperators: 'None'
BreakBeforeTernaryOperators: 'false'
BreakConstructorInitializers: 'BeforeComma'
BreakInheritanceList: 'BeforeComma'
BreakStringLiterals: 'true'

ColumnLimit: '120'
CompactNamespaces: 'false'
ConstructorInitializerAllOnOneLineOrOnePerLine: 'false'
ConstructorInitializerIndentWidth: '4'
ContinuationIndentWidth: '0'

Cpp11BracedListStyle: 'true'

DeriveLineEnding: 'false'
DerivePointerAlignment: 'false'

DisableFormat: 'false'

FixNamespaceComments: 'true'

IncludeBlocks: 'Regroup'
IncludeCategories:
  - Regex:           '^<(cstdlib|csignal|csetjmp|cstdarg|typeinfo|typeindex|type_traits|bitset|functional|utility|ctime|chrono|cstddef|initializer_list|tuple|any|optional|variant|compare|new|memory|scoped_allocator|memory_resource|climits|cfloat|cstdint|cinttypes|limits|exception|stdexcept|cassert|system_error|cerrno|cctype|cwctype|cstring|cwchar|cuchar|string|string_view|charconv|array|vector|deque|list|forward_list|set|map|unordered_set|unordered_map|stack|queue|algorithm|execution|iterator|cmath|complex|valarray|rиom|numeric|ratio|cfenv|iosfwd|ios|istream|ostream|iostream|fstream|sstream|syncstream|strstream|iomanip|streambuf|cstdio|locale|clocale|codecvt|regex|atomic|thread|mutex|shared_mutex|future|condition_variable|filesystem)>'
    Priority:        1
  - Regex:           '^<(common|graphics|log|math|system|unit_test)\/[a-z0-9_]+\.hpp>'
    Priority:        2
  - Regex:           '^<.*\/(inc|src)\/.*\.hpp>'
    Priority:        3
  - Regex:           '^<(dependencies)\/'
    Priority:        4
  - Regex:           '.*'
    Priority:        10

IncludeIsMainRegex: '$'
IncludeIsMainSourceRegex: ''

IndentCaseBlocks: 'false'
IndentCaseLabels: 'true'
IndentPPDirectives: 'BeforeHash'
IndentWidth: '4'
IndentWrappedFunctionNames: 'true'

KeepEmptyLinesAtTheStartOfBlocks: 'true'

MaxEmptyLinesToKeep: '1'

NamespaceIndentation: 'None'

ObjCBlockIndentWidth: '0'
ObjCBreakBeforeNestedBlockParam: 'false'
ObjCSpaceAfterProperty: 'false'
ObjCSpaceBeforeProtocolList: 'false'

PenaltyBreakAssignment: '999'
PenaltyBreakBeforeFirstCallParameter: '9999'
PenaltyBreakComment: '999'
PenaltyBreakFirstLessLess: '999'
PenaltyBreakString: '0'
PenaltyExcessCharacter: '100'
PenaltyReturnTypeOnItsOwnLine: '9999'

PointerAlignment: Left

ReflowComments: 'true'
SortIncludes: 'true'
SortUsingDeclarations: 'true'

SpaceAfterCStyleCast: 'false'
SpaceAfterLogicalNot: 'false'
SpaceAfterTemplateKeyword: 'true'
SpaceBeforeAssignmentOperators: 'true'
SpaceBeforeCpp11BracedList: 'false'
SpaceBeforeCtorInitializerColon: 'true'
SpaceBeforeInheritanceColon: 'true'
SpaceBeforeParens: 'ControlStatements'
SpaceBeforeRangeBasedForLoopColon: 'true'
SpaceBeforeSquareBrackets: 'false'
SpaceInEmptyBlock: 'false'
SpaceInEmptyParentheses: 'false'
SpacesBeforeTrailingComments: '1'
SpacesInAngles: 'false'
SpacesInCStyleCastParentheses: 'false'
SpacesInConditionalStatement: 'false'
SpacesInContainerLiterals: 'false'
SpacesInParentheses: 'false'
SpacesInSquareBrackets: 'false'

Standard: 'c++17'
TabWidth: '4'
UseTab: Never

...

