build/
output/

__pycache__/

.vscode/
.atom-build.yml
.lvimrc
_lvimrc
.vimrc
_vimrc
.DS_Store
.idea
.cproject
.project
.settings/

.clang_complete
*.log
*.log.*
xorg.conf
.dir-locals.*
tags
*.txt.user

.kdev4
*.kdev4
*.kate-swp
